<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
      <h5 id="footer">&copy; Comp229 - Web Application Development | Term Project by SurveyHorse (Group 7) </h5>
    </div>
</nav>