<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="/Assets/images/favicon.png">
    <!-- CSS Section -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/Content/app.css">
    <script src="/chart.js/dist/chart.js"></script>
    <script src="/chartjs-chart-wordcloud/build/index.umd.min.js"></script>
</head>
<body>
    <!-- Main Navigation Section -->
    <header class="sticky-top">
        <%- include('components/header.ejs'); %>
    </header>

    <!-- Content Section -->
    <main>
        <%- include('content/' + page + '.ejs'); %>
    </main>

     <!-- Site-wide footer Section -->
    <footer>
       <%- include('components/footer.ejs'); %>
    </footer>
    
    <!-- JavaScript Section -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="/moment/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>
